.bal-container {
  .bal-paper {
    margin: 0 1rem;

    .balance {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      font-size: 1rem;
      font-weight: 500;
      border-radius: 4px;
      padding: 0.5rem;

    }

    .title {
      margin-right: 3px;
    }
  }
}