.cat-container{

  margin: 1rem 0;
  .category-paper {
    margin-right: 3rem;
    cursor: pointer;
    
    .category-container {
      padding: 0.7rem 1rem;
      background-color: #fb9597;
      padding-right: 2rem;
      display: flex;
      align-items: center;
      color: #fff;
      border-radius: 4px;
      .category-icon {
        width: 3rem;
        height: 3rem;
        background-color: gray;
        margin-right: 1.5rem;
      }
    .name-amt {
      display: flex;
      flex-direction: column;
      .category-name {
        // margin-bottom: 0.2rem;
        font-size: 1.2rem;
        font-weight: 600;
      }
      .category-amount {
        font-size: 0.8rem;
        font-weight: 500;
      }
    }
  }
}

}