.line-graph {

    .design-paper {


        .heading-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            div {

                .heading,
                .value {
                    color: rgba($color: #000000, $alpha: 0.7);
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 4px;
                }

            }
        }

        padding: 18px;

    }
}