.nav-bar {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  // background-color: #9ec7a2;
  .title {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 400;
    color: #555252;
    margin-left: 20%;
  }
  .navitems {
    margin-top: 3rem;
    margin-left: 20%;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        margin-top: 1rem;
        text-decoration: none;
        color: #a6b1b0;
        font-size: 1rem;
        font-weight: 300;
        cursor: pointer;
        &:hover {
          color: #000000;
          font-weight: 400;
        }
      }
    }
  }
}
